@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;}
body{
  background: rgba(0,0,0,.8);
  user-select: none;
  user-zoom: none;
}
.scroll{
position: relative;
z-index: -1;
}
.hero{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  justify-content: center;
  align-items: center;
}
.box{
  width: 100px;
  height: 100px;
  display: flex;
  margin: 10px;
  box-shadow: 0 0 5px #000;
  color: #fff;
  animation: 800ms fade ease-in-out;
  transition: .3s;
  cursor: pointer;
  font-weight: 900;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.box:hover{
  transform: scale(1.1);
  border:10px solid rgba(20, 6, 6, 0.164);
  border-color: 2px solid #fff;
  border-style:double;
}
.box p {
  margin: auto;
  font-size: 17px;
}

@keyframes  fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
